html {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

body {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    line-height: 1.3;
    font-size: 1.3rem;
}

.container { max-width: 800px; margin: 0 auto; }

header {
    background-color: #4ea022;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    display:inline-block;
}  

nav a { color: #4a2cc6; text-decoration: none; margin: 0 10px;
}

nav a:hover { text-decoration: underline;}

nav a.active { font-weight: bold; text-decoration: underline;}

nav li { display: inline; }

main {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}

article {
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

.sidebar {
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}



h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color:coral
    background-color: rgba(255, 127, 80, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.rss-link { 
    display: inline-block; 
    margin-top: 10px; 
    padding: 5px 10px; 
    background-color: #4ea022; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 3px; } 
    
.rss-link:hover { background-color: #3b7a1e; }

code { 
    background-color: #f4f4f4; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 0.95em; 
    color: #333; 
    border: 1px solid #ddd; 
    margin-top: 10px; 
    overflow-x: auto; 
    display: block;
    border-radius: 5px; 
    white-space: pre-wrap;
    line-height: 1.4rem;
    padding: 10px;
}

